@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf");
}
* {
  outline: 0 !important;
}

body {
  font-family: "Montserrat-Regular", serif;
  font-size: 1rem;
}

a {
  color: #fff;
}

h1 {
  font-size: 2.1rem;
  font-family: "Montserrat-SemiBold", serif;
}

h2 {
  font-size: 1.9rem;
  font-family: "Montserrat-SemiBold", serif;
}

h3 {
  font-size: 1.7rem;
  font-family: "Montserrat-SemiBold", serif;
}

h4 {
  font-size: 1.5rem;
  font-family: "Montserrat-SemiBold", serif;
}

h5 {
  font-size: 1.3rem;
  font-family: "Montserrat-SemiBold", serif;
}

h6 {
  font-size: 1.1rem;
  font-family: "Montserrat-SemiBold", serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  display: flex;
  margin-bottom: 50px;
}
.navbar .navbar-brand {
  margin-right: auto;
}
.navbar .nav-link {
  font-family: "Montserrat-Light", monospace, serif;
}
.navbar .nav-link:hover {
  color: #673e7d;
}

.title {
  color: #fff;
  font-family: "Montserrat-Regular", serif;
  margin-bottom: 2rem;
}

.header-1 {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: center top;
}
.header-1 .header-content .leads {
  color: #fff;
  font-family: "Montserrat-Light", monospace, serif;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
.header-1 .header-content .btn {
  height: 50px;
  width: 245px;
  border-radius: 70px;
  font-size: 1.1rem;
  transition: background .5s ease, color .3s ease;
}
.header-1 .header-content .btn-secondary-outline {
  border-width: 2px;
  margin-left: .8rem;
}
.header-1 .header-content .btn-secondary-outline:hover {
  background-color: rgba(225, 225, 225, 0.2);
  border-color: transparent;
}
.header-1 .header-content .btn-secondary-outline img {
  margin-right: 1rem;
}
.header-1 .header-content .btn-secondary:hover {
  background-color: #673e7d;
  color: #fff;
  border: none;
}

.header-2 {
  height: 810px;
  background: url("../images/bg_2.png");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: center top;
}
.header-2 .header-content .title {
  margin-top: 15rem;
}

.header-3 {
  height: 810px;
  background: url("../images/bg_3.png");
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center top;
}
.header-3 .header-content .title {
  margin-top: 8rem;
}
.header-3 .header-content .vr-iphone {
  margin: 3rem 0;
}

.header-2 .header-content .btn, .header-3 .header-content .btn {
  width: 220px;
  height: 70px;
  position: relative;
  background-color: #fff;
}
.header-2 .header-content .btn img, .header-3 .header-content .btn img {
  position: absolute;
  left: 15px;
}
.header-2 .header-content .btn h6, .header-3 .header-content .btn h6 {
  display: inline-block;
  color: #585b60;
  font-size: .9rem;
  margin-left: 40px;
  padding-left: 18px;
  margin-top: .4rem;
  border-left: thin solid #9da6ac;
}
.header-2 .header-content .btn h6 span, .header-3 .header-content .btn h6 span {
  font-size: 1.2rem;
}
.header-2 .header-content .btn-win, .header-3 .header-content .btn-win {
  margin-left: 1rem;
}
.header-2 .header-content .btn-win img, .header-3 .header-content .btn-win img {
  top: 15px;
}
